[submodule "OneWay_ANOVA"]
	path = OneWay_ANOVA
	url = ../OneWay_ANOVA
[submodule "ANOVA_Models"]
	path = ANOVA_Models
	url = ../ANOVA_Models
[submodule "ANCOVA"]
	path = ANCOVA
	url = ../ANCOVA
[submodule "Assumptions_of_ANOVA"]
	path = Assumptions_of_ANOVA
	url = ../Assumptions_of_ANOVA
[submodule "Hasse_Diagrams"]
	path = Hasse_Diagrams
	url = ../Hasse_Diagrams
